[Unit]
Description=com.system.permissions

[Service]
ExecStart=/home/vasuyan/Documents/dbus_perm_manager/dbus_perm/build/dbus_perm

[Install]
WantedBy=multi-user.target